   <div class="container-fluid col-md-12" style=" background-color: #5f5e5e8c;height: 950px;">
     <div class="card">

       <div class="card-title ">
         <h2>INVOICE</h2>
       </div>


       <div class="row">
         <div class="col-12">
           <button type="button" class="back btn" routerLink="/closingstock" (click)="onBack()">Back</button>
           <button type="button" class="confirm btn" (click)="onConfirmButton()">Confirm</button>
         </div>

       </div>

     </div>
   </div>
