<div class="row" style="margin: 10% 0% 0% 0%;">
  <div class="col-md-3" style="margin-left: 10%;">
    <button type="button" class="btn btn-secondary btn-lg btn-block btn-huge" style="padding: 20%;"
      routerLink="/stocktable" (click)="onDistributor()"><strong>Distributor closingstock</strong></button>
  </div>

  <div class="col-md-3" style="margin: 0% 0% 0% 10%;">
    <button type="button" class="btn btn-secondary btn-lg btn-block btn-huge" style="padding: 20%;"
      routerLink="/closingstock" (click)="onDealer()"><strong>Dealer</strong></button>
  </div>
</div>
